<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--Add stylesheets-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <% if (title) { %>
      <title><%= title %></title>
    <% } %>


  </head>

  <body>

<header>
  <div class="container">

    <div class="row">
      <div class="col-sm logo">
        <img src="/img/sitechecker-logo.png" alt="logo">
      </div>
      <nav class="col-sm">
        <ul>
          <li><a class="logout-link" href="/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </div>
  
</header>