<footer>
<div class="container">
  <div class="row">
    <div class="col-md-4"><a class="footer-logo" href="/"><img src="/img/sc-logo.png" alt="logo"></a></div>

    <div class="col-md-4"></div>

    <div class="col-md-4"></div>
  </div>
</div>

<div class="copyright">
  Built with <i class="fa fa-heart"></i> using <a target="_blank" href="https://deno.land/"><img src="/img/deno-logo.png" alt="Deno Logo"></a> | <a href="https://michaelhicks.me"><span class="freelance-text">Michaelhicks.me <br/></span></a>
</div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/scripts.js"></script>
    
</body>
</html>