<footer>
<div class="container">
  <div class="row">
    <div class="col-md-4"><a class="footer-logo" href="/"><img src="/img/sc-logo.png" alt="logo"></a></div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">
      <p class="freelance-text">Available for freelance work. <br/><a class="email-link" href="mailto:kustomdesigner@gmail.com">kustomdesigner@gmail.com</a></p>
    </div>
  </div>
</div>

<div class="copyright">
  Built with <i class="fa fa-heart"></i> using <a target="_blank" href="https://deno.land/"><img src="/img/deno-logo.png" alt="Deno Logo"></a>
</div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/scripts.js"></script>
    
</body>
</html>