<footer>
<div class="container">
  <div class="row">
    <div class="col-md-4"><a class="footer-logo" href="/"><img src="/img/sc-logo.png" alt="logo"></a></div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">
      <h3>Contact Me</h3>
      <p>Available for freelance work. Contact me at <a href="mailto:kustomdesigner@gmail.com">Kustomdesigner@gmail.com</a></p>
    </div>
  </div>
</div>

<div class="copyright">
  Built with <i class="fa"></i> using <img src="/img/deno-logo-300.png" alt="Deno Logo">
</div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/scripts.js"></script>
    
</body>
</html>