<%- await include('views/partials/auth-header.ejs', { title: 'Dashboard' }) %>

<div class="container">
  <div class="row">
    <form action="?" method="POST" id="add-website-form">
      <h1>Dashboard</h1>

      <h2>Add a website</h2>
      <div class="form-group">
        <label style="display: block;" for="Website url">Website Url</label>
        <input type="text" class="form-control" name="addwebsite" id="addwebsite"  required>
        <span class="add-website-error"></span>
        <button type="submit" id="add-website-submit" class="btn btn-primary">Add website</button>
      </div>
    </form>
    </div>
    </div>

    <div class="container">
      <div class="row">
    
    <% if (urls) { %>
      <div>
        <h5>Watchlist</h5>
        <% for(var i=0; i < urls.length; i++) { %>
          <p><span class="website-url"><%= urls[i].website_url %></span><span class="website-status"><%= urls[i].website_status %></span></p>
        <% } %>
      </div>
    <% } %>

  </div><!--.row-->
</div><!--.container-->

<%- await include('views/partials/footer.ejs', {}) %>