<%- await include('views/partials/header.ejs', { title: 'Home | Welcome' }) %>
<div class="home-banner">
  <div class="container">
    <div class="row">
        <h1>Uptime & performance monitoring made simple.</h1>
        <div class="half-wrap"><p>Get website or application status alerts by SMS, or email if your website is down. SiteChecker checks your website(s) availability at five minute intervals.</p>
        <a href="/register"><button type="button" class="btn btn-warning">SIGN UP NOW <i class="fa fa-chevron-right"></i></button></a></div>
        <div class="half-wrap"><img src="/img/home-robot.png" alt="robot"></div>
        
    </div>
  </div>
</div>

<%- await include('views/partials/footer.ejs', {}) %>