<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css">

    <title>
      log in
    </title>
  </head>
  <body>


    <form action="?" method="POST "style="width:100%;max-width: 400px;margin: 50px auto 0;" id="login-user-form">
      <h1>Login</h1>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email"  class="form-control" name="firstname" id="email" required>
      </div>

      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password"  class="form-control" name="pass" id="pass" required>
      </div>

      <button type="submit" id="login-user" class="btn btn-primary">Submit</button>

    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
    <script>
      //Process form
      jQuery('#login-user').on('click', (e) => {
        e.preventDefault();
        
        const email = jQuery('#email').val();
        const pass = jQuery('#pass').val();

        data = {
          email,
          pass
        }

        const body = JSON.stringify({data: data});
        const url = "/login-user";

        async function loginUser() {
          const response = await fetch(
            url,
            {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: body,
            }).then(response => response.json())
              .then(data => {
                console.log(data);
                if(data.message === "ok") {
                  window.location.href = "http://localhost:8000/protected";  
                }
              })
              .catch((error) => {
                console.error('Error:', error);
              });
        }

        loginUser();
      });
    </script>

  </body>
</html>