<%- await include('views/partials/header.ejs', { title: 'Login' }) %>

    <form action="?" method="POST" id="login-user-form">
      <h1>Login</h1>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email"  class="form-control" name="firstname" id="email" required>
      </div>

      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password"  class="form-control" name="pass" id="pass" required>
      </div>

      <button type="submit" id="login-user" class="btn btn-primary">Submit</button>

    </form>

    <div class="login-errors"></div>

<%- await include('views/partials/footer.ejs', {}) %>