<%- await include('views/partials/header.ejs', { title: 'Register' }) %>

    <form action="/regiter-user" method="POST" style="width:100%;max-width: 400px;margin: 50px auto 0;" id="register-user-form">
      <h1>Register</h1>
      <div class="form-group">
        <label for="First Name">First Name</label>
        <input type="text" name="firstname" class="form-control" id="firstname" required>
      </div>
      <div class="form-group">
        <label for="Last Name">Last Name</label>
        <input type="text" name="lastname" class="form-control" id="lastname" required>
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="email" class="form-control" id="email" required>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" name="pass" class="form-control" id="pass" required>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" id="register-user" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <div class="register-errors"></div>

   <%- await include('views/partials/footer.ejs', {}) %>