<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css">

    <title>Register</title>
  </head>
  <body>
    <form action="/regiter-user" method="POST" style="width:100%;max-width: 400px;margin: 50px auto 0;" id="register-user-form">
      <h1>Register</h1>
      <div class="form-group">
        <label for="First Name">First Name</label>
        <input type="text" name="firstname" class="form-control" id="firstname" required>
      </div>
      <div class="form-group">
        <label for="Last Name">Last Name</label>
        <input type="text" name="lastname" class="form-control" id="lastname" required>
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="email" class="form-control" id="email" required>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" name="pass" class="form-control" id="pass" required>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" id="register-user" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      //Process form
      jQuery('#register-user').on('click', (e) => {
        e.preventDefault();
        console.log('clicked');
        
        const firstname = jQuery('#firstname').val();
        const lastname = jQuery('#lastname').val();
        const email = jQuery('#email').val();
        const pass = jQuery('#pass').val();

        data = {
          firstname,
          lastname,
          email,
          pass
        }

        console.log(data);

        const body = JSON.stringify({data: data});
        const url = "/register-user";

        async function registerUser() {
          const response = await fetch(
            url,
            {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: body,
            },
          );
        };

        registerUser();

      });

   

    </script>
  </body>
</html>