form div {
  margin-bottom:10px;
}
h1 {
  font-size: 32px;
  margin-bottom: 50px;
}
h2 {
  font-size: 24px;
  margin: 15px 0;
}
#addwebsite {
  position: relative;
  display: inline-block;
  width: auto;
}
.add-website-error img {
  max-width: 24px;
}
#add-website-form {
  width:100%;
  max-width: 400px;
}
#add-website-form button {
  margin: 5px 0;
  display:block;
}
.register-errors, .login-errors {
  text-align:center;
  color: red;
  font-size: 14px;
}
.add-website-error {
  color: red;
  font-size:small;
}
label {
  font-size:small;
}
.website-url {
  background: #eee;
  padding: 5px;
}
.website-status {
  margin-left:15px;
  background: rgb(252, 249, 249);
  padding: 5px;

}