

/*Fonts*/
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/css/fonts/SourceSansPro-Regular.woff2') format('woff2'),
      url('/css/fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/css/fonts/SourceSansPro-Semibold.woff2') format('woff2'),
      url('/css/fonts/SourceSansPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*main styles*/
:root {
  --navy-blue: #1C2431;
  --lt-blue: #283142;
  --green: #36af47;
  --yellow: #F0981B;
  --mint: #42BA9C;
  --border-grey: rgba(49, 61, 79, 1);
  --input-grey: #8b939f;
}
body {
  font-family: 'ProximaNova', sans-serif;
  color:#fff;
  background: var(--navy-blue);
}
#dashboard {
  font-family: 'Source Sans Pro';
}
header {
  background: #2B373D;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 15px;
} 
.row-block {
  display: block;
}
li {
  list-style: none;
}
form div {
  margin-bottom:10px;
}
label {
  font-size:small;
}
h1 {
  font-size: 32px;
  margin: 30px 0 50px;
  color: #fff;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  margin: 15px 0;
}


/*Homepage*/
.home-banner {
  background: #1B262D;
}
.home-banner .container {
  max-width: 960px;
}
.home-banner h1 {
  color: #fff;
  width: 100%;
  font-size: 42px;
  text-transform: Capitalize;
  text-align: left;
  margin: 50px 0 15px;
}
.home-banner p {
  font-weight: 300; 
  text-align: left;
  color: #89909e;
  font-size: 27px;
  margin: 10px auto 0;
  display: block;
}
.home-banner img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 15px auto;
}
.home-banner a {
  text-decoration: none;
}
.home-banner button {
  color: #36af47;
  font-weight: 700;
  font-size:24px;
  padding: 20px 50px;
  background: #000;
  border:none;
  margin: 20px 0 50px;
  display: block;
  box-shadow: 0 0 15px 5px rgba(54, 175, 71, 0.1);
}
.home-banner button:hover, .home-banner button:active {
  color: #000;
  background-color: #36af47;
  box-shadow: 0 0 15px 5px rgba(54, 175, 71, 0.8);
}
.home-banner button i {
  font-size: 20px;
  margin-left:10px;
}
.half-wrap {
  width: 50%;
}
.no-wrap {
  width: 100%;
}


/*Navigation*/
nav {
  align-content: flex-end;
  margin-top: 30px;
}
nav a {
  color: #767d8c;
  padding-right: 15px;
  font-weight: bold;
}
nav a:hover {
  color: #C5C8CA;
  text-decoration: none;
}
nav ul {
  text-align: right;
}
nav ul li {
  display: inline-block;
}

/*Logo*/
.logo {
  padding-left: 0;
}
.logo img {
  width: 100%;
  max-width: 200px;
  padding: 10px 0;
}


/*Dashboard*/
#dashboard h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#addwebsite {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 100%;
  max-width: 249px;
  background: var(--lt-blue);
  border: 1px solid var(--border-blue) !important;
  color: #fff;
}
#addwebsite:focus, #add-website-form button:focus {
  box-shadow: none;
}
#add-website-submit i {
  position: relative;
  top: 1px;
  left: -3px;
  height: 38px;
}
.add-website-error img {
  max-width: 24px;
}
#add-website-form {
  width:100%;
  max-width: 400px;
}
#add-website-form button {
  margin: 5px 0;
  background: var(--lt-blue);
  border: 1px solid var(--border-grey) !important;
  color: var(--input-grey);
  font-size:15px;
}
.statusBlock {
  position: relative;
  margin: 2px 1px;
  padding: 15px;
  border-radius: 3px;
  display: block;
  width: 100%;
  border-top: 1px solid rgba(255,255,255, 0.1);
}
.statusBlock .website-name, .statusBlock .website-url, 
.statusBlock .website-status, .statusBlock .action {
  width: 100%;
  max-width: 250px;
  display:inline-block;
}
.statusBlock .action {
  width: 100%;
  display:inline-block;
}
#dashboard .column-title {
  width: 100%;
  max-width: 250px;
  display: inline-block;
  color: var(--input-grey);
  font-weight: bold;
  font-size: 13px;
}
#dashboard .title-action {
  width: 100%;
  max-width: 50px;
}
.column-header {
  width: 100%;
  margin-left: 15px;
}
.statusBlock .website-name {
  font-size: 15px;
  color: #fff;
}
.statusBlock .action {
  text-align: center;
  position: relative;
}
.statusBlock .action img {
  cursor: pointer;
  display: block;
  width: 19px;
  height: 19px;
  margin: 0 auto;
  position: relative;
  left: 15px;
}
.statusBlock .action a:hover .sub-menu {
  display:block;
}
.sub-menu {
  display: block;
  background: #000;
  width: 100px;
  position: absolute;
  top: 25px;
  right: 35px;
  text-align: left;
  padding: 3px 5px;
}
.sub-menu a {
  color: #fff;
  font-size:14px;
  text-transform: uppercase;
}
.hidden {
  display: none;
}
.statusBlock:first-of-type {
  border-top: none;
}
.website-url {
  color:#777;
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 15px;
}
.watchlist-title {
  width: 100%;
}
.domain-panel {
  background-color: var(--lt-blue);
  border-radius: 8px;
  margin-top: 15px;
}
.default-status {
  display: inline-block;
  background: var(--green);
  width: 100%;
  max-width: 125px;
  border-radius: 3px;
  font-size:12px;
  text-align: center;
  padding: 2px 7px;
}
.website-down {
  position: relative;
  background: var(--yellow);
}
.default-status:after {
  content: "RUNNING SMOOTHLY";
  position: relative;
  color:#fff;
}
.website-down:after {
  content: "WEBSITE IS DOWN";
  position: relative;
  color:#fff;
}

/*Success & Errors*/
#success-flash {
  opacity: 0;
  display:block;
  width: 100%;
  max-width: 367px;
  height: 36px;
  background: var(--green);
  color: #fff;
  border:none;
  border-radius: 3px;
  cursor: initial;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  text-indent: 25px;
}
#success-flash .cross-icon {
  position: absolute;
  right: 10px;
  top: 13px;
}
#success-flash .info-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.register-errors, .login-errors {
  text-align:center;
  color: red;
  font-size: 14px;
}
.add-website-error {
  color: red;
  font-size:small;
}

/*Unauthorized*/
.unauth-title {
  font-size: 32px;
  text-align: center;
}
.unauth-btns {
  text-align: center;
}
.unauth-btns button {
  margin-right: 15px;
}

